/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

#homeContent {
    font-weight: bold;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('pistaBackground.png');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    pointer-events: none;
    z-index: -1;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 20px;
    gap:20px;
    justify-items: center;
}

.gallery img {
    border-radius: 30px;
    width: 100%;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.lightbox-img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

/* Buttons */
#modeButton {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 25px;
    margin-right: 10px;
}

#modeButton:hover {
    transform: scale(1.1);
}

#menuButton {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

#submitForm {
    font-size: 16px;
    border-radius: 25px;
    border-color: #a5954f;
    color: #a5954f;
    transition: transform 0.3s ease;
    display: block;
    margin: 10px auto;
    width: 80px;
    transition: color 0.3 ease;
}

#submitForm:hover {
    transform: scale(1.1);
    border-color: #1a9434;
    color: #1a9434;
}
/* Utility Classes */
.center-container {
    display: flex;
    justify-content: center;
    padding-top: 8%;
}

/* Logo */
#HomeLogo {
    display: flex;
    position:relative;
    width: 80px;
    padding-left: 2px;
    padding-top: 2px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

#HomeLogo:hover {
    transform: scale(1.1);
}

/* Navigation Bar */
nav {
    display: flex;
    position: fixed;
    top: 10px;
    height: 60px;
    background-color: rgba(210, 247, 126, 0.7);
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 1.0);
    width: 100%;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    z-index: 1000;
}
nav:hover {
    background-color: rgba(210, 247, 126, 1.0);
}

.dark-mode nav {
    background-color: rgba(51, 51, 51, 0.8);
    box-shadow: 5px 5px 14px rgba(99, 99, 99, 1.0);
}

/* Navigation Links */
.navTextLinks {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    border-radius: 25px;
}

.navTextLinks a {
    font-size: 20px;
    font-weight: bold;
    padding: 0 15px;
    text-decoration: underline;
    color: #a5954f;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navTextLinks a:hover {
    transform: scale(1.1);
    color: #1a9434;
}

/* Contact Form */
.contactForm {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 400px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 1.0);
    color: #a5954f;
}

.contactForm label {
    font-weight: bold;
}

.contactForm input {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: large;
}

.contactForm #message {
    height: 80px;
}

.contactForm input:invalid {
    border-color: red;
}

.contactForm input:valid {
    border-color: green;
}

/* Light Mode */
.light-mode {
    background-color: #e7dfba;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

.light-mode #HomeLogo:hover {
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
}

.light-mode #modeButton {
    background-color: #000000;
    color: #ffffff;
}

.light-mode .contactForm {
    background-color: rgba(210, 247, 126, 0.8);
}

.light-mode .contactForm input {
    background-color: rgba(246, 255, 225, 0.8);
}

/* Dark Mode */
.dark-mode {
    background-color: #000000;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode h1{
    color: rgb(154, 182, 87);
}

.dark-mode::before {
    filter: invert(1);
}

.dark-mode #HomeLogo {
    filter: invert(1);
}

.dark-mode #HomeLogo:hover {
    filter: invert(1) drop-shadow(0 0 15px rgba(255, 255, 255, 0.5));
}

.dark-mode #modeButton {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode .contactForm {
    background-color: #333333;
    box-shadow: 5px 5px 14px rgb(99, 99, 99);
}

.dark-mode .cardContainer{
    color: rgb(154, 182, 87);
}

/* Home Content */
#homeContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

/* Cards */

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.card {
    width: 325px;
    height: 500px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 16px;
    perspective: 1000px;
}

.cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    overflow: hidden;
}

.cardFront {
    background-color: #fff;
}

.cardBack {
    background-color: #ffffff;
    transform: rotateY(180deg);
}

.card.flipped .cardInner {
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.cardContent {
    padding-left: 14px;
}

.cardContent h3 {
    font-size: 24px;
    margin-bottom: -12px;
}

.cardContent ul {
    font-size: 17px;
    line-height: 1.2;
    margin-right: 12px;
}

.cardContent .btn {
    display: inline-block;
    padding: 6px 14px;
    background-color: #333;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

/* Slide-in Animation */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 1s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#slide-down {
    animation: slideDown 0.6s ease-out;
}

/* Media Query for Small Screens */
@media (max-width: 650px) {
    nav {
        font-size: 20px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
    }

    /* Hide navigation links initially */
    .navTextLinks {
        display: none; 
        gap: 40px;
        font-size: 18px;
        text-align: center;
        background-color: rgba(210, 247, 126, 0.9);
        position: absolute;
        top: 65px; 
        width: 100%;
        padding: 10px 0;
        box-shadow: 5px 5px 14px rgba(0, 0, 0, 1.0);
        opacity: 0; 
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .dark-mode .navTextLinks {
        background-color: rgba(51, 51, 51, 0.9);
        border-radius: 25px;
        box-shadow: 5px 5px 14px rgba(99, 99, 99, 1.0);
    }

    /* Show links when active */
    .navTextLinks.active {
        display: flex; 
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    /* Center the burger menu button */
    #menuButton {
        display: block;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        left: 45%;
        transform: translateX(0%); 
        z-index: 2;
        transition: transform 0.3s ease;
    }

    #menuButton:hover {
        transform: scale(1.2);

    /* Adjust h1 size */
    h1 {
        font-size: 2.5em;
    }

    /* Adjust mode button size */
    #modeButton {
        font-size: 12px;
        width: auto;
    }
}}
